.register{
    display: grid;
    place-items: center;
    background-color: #264653; 
    /* height: 100vh; */
 }
 
 .register_content{
     text-align: center;
 }
 
 .register_logo > img{
    margin-top: 30px;
    height: 90px;
    width: 210px;
    object-fit: contain;
 }
 
 .register_desc{
        line-height: 30px;
        color: #ffff;
 }
 
 .register_form > form{
       display: flex;
       flex-direction: column;
 }
 
 .register_form > form > input{
        width: 390px;
        padding-top: 11px;
        padding-bottom: 11px;
        margin-top: 35px;
        border-top: none;
        border-bottom: none;
        border-right: none;
        border-left: none;
        border-radius: 3px;
        border: 1px solid rgb(145, 142, 142);
        outline-color: rgb(99, 91, 91);
 }
 
 
 
 .register_btn{
     margin-top: 35px;
     width: 400px;
     padding-top: 10px;
     padding-bottom: 10px;
     color: #ffff;
     border: 1px solid rgb(34, 32, 32);
     border-radius: 3px;
     cursor: pointer;
     background-color: rgb(54, 48, 48);
 }
 
 .register_btn:hover{
     background-color: rgb(71, 66, 66);
 }
 
 .register_google{
     margin-top: 40px;
     display: flex;
     align-items: center;
     width: 400px;
     padding-top: 7px;
     padding-bottom: 7px;
     cursor: pointer;
 }
 
 .register_icon{
      width: 30px;
      max-height: 30px;
      object-fit: contain;
 }
 
 .register_google > span{
     margin-left: 80px;
     font-size: 18px;
 }
 
 .register_login{
     display: flex;
     margin-top: 25px;
    padding-bottom: 20px;
    color: #ffff;
 }
 
 .register_login > a{
     margin-left: 10px;
     color: green;
 }
 